 .thumbnail-catagories {

    height: 100%;
    overflow-y: scroll;  
    background-color:#fafafa;
    margin-top: 16px;
  }

  .catagory-checks {
    border-radius: 2px;

    
  }
.thumbnail hr {
margin-top: 0px;
margin-bottom: 0px;
padding: 4px;
border: 0;
border-top: 1px solid #eee;
font-family: font-family: 'Open Sans', sans-serif;

}
.img-thumbnail { border-radius: 2px;}
 .buy_btn_small {
 }
  

.apply_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
padding: 1px 10px 1px 10px;
}

 
.thumbnail .caption h4 {
  margin-top: 0px;
}

.thumbnail .caption {
  padding: 2px;
}
.row-heading {
margin-top: -5px;
}
.element_count {

}
.col-md-images {
    /**
padding-right: 10px;
padding-left: 0px;
padding-right: 2;**/

}
.products .col-md-images:nth-child(n){
	/*clear:right;*/
}
.col-md-catagory {
/*width:28%;*/
}
.showing_text {
    /*margin-left: -5%;*/
}
.hr_border {
    border-top: 2px dotted #818181;
    margin: 33px 15px 22px;
	/*width: 70%;*/
}

.hr_border_bottom {
border-top: 2px dotted #818181;
width: 100%;
}
.showing_text .showing {
font-weight: 800;
font-size: 16px;
color:#595959;
}
.showing_text .showing-item {
   color:#bfbfbf;
   font-weight: 600;

}


.showing_text .col-md-offset-4  span {
    margin-top: 0px;
}
.rating {
    padding-left: 2px;
    
}
.rating .glyphicon {
  color: #2676af;
  font-size: 10px;

}
.row-no-margin {
    margin: 0;
}

.line-checkbox {
  font-size: 13px;
}
              
div.status_box_featured
{

  position: absolute;
  margin:10px 3px;
  /*border: 1px solid black;*/
  background-color: #2676af;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

div.status_box_featured p
{
  margin: 8px 7px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}


.status_box_onsale {
  position: absolute;
  margin:10px 3px;
  /*border: 1px solid black;*/
  background-color: #86a800;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

.status_box_onsale p {

  margin: 8px 7px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
} 
.status_box_outstock {
  position: absolute;
  margin:80px 3px;
  /*border: 1px solid black;*/
  background-color: #ffffff;
  width: 80%;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

.status_box_outstock p {
 
  margin: 8px 5px;
  font-weight: bold;
  font-weight: 800;
  font-size: 17px;
  color: black;
  text-transform: uppercase;
} 

.img-responsive {
  border: none;
}
.thumbnail {
  border-radius: 1px;
}
.left-catag-twitt {
/*background-color:#ffffff;*/
margin-bottom:20px;
}