
.italic{
    font-style: italic;
}
.blue-top-border{
    border-top: 4px solid #006699;
}
.waterish-blue-border{
    border: 4px solid #99cccc;
}
.padding-top{
    padding-top: 10px;
}
.padding-top-6{
    padding-top: 6px;
}
.padding-bottom-10{
    padding-bottom: 10px;

}
.padding-bottom-16{
    padding-bottom: 16px;
}
.bottom-margin-28{
    margin-bottom: 28px;
}
.bottom-margin-10{
    margin-bottom: 10px;
}
.thumbnail-img-height{
    height: 132px;
}
.border{
    border: 1px solid #EFEFEF;
}
.border-radius{
    border-radius: 3px;
}
.no-top-margin{
    margin-top: 0px;
}
.no-bottom-margin{
    margin-bottom: 0px;
}
.font-size-11{
    font-size: 11px;
}
.font-size-16{
    font-size: 16px;

}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}


.font-size-24{
    font-size: 24px;

}
.bold{
    font-weight: bold;
}
.red-font{
    color:#ff3333;
}
.border-red{
    border: 1px solid #ff3333;
}
.bg-transparent{
    background:transparent;
}
.remove-btn{
    width: 24px;
    height: 21px;
}
.remove-icon-btn{
    top: -2px;
    left: -5px;
}
.bottom-margin-10{
    margin-bottom: 10px;
}
.radio+.radio{
    margin:0 0 0px;
}
.input-group-addon {
    padding: 0px 0px !important;
    background-color:transparent !important;

    border-right-color: #000000;

}
.padding-que{
    padding: 28px 0px 0px;
}
.fixed-hegiht-94{
    height: 102px;
}


