
/**seller page css **/
  
  .row-under-container .tab-links {
color: #787878;
font-size: 17px;
font-weight: 400;

  }
  .row-under-container {
    background-color:white;
 
border-top: 1px solid rgb(241, 242, 244);
border-bottom: 1px solid rgb(241, 242, 244);
padding: 15px;

  
  }
  .row-under-container  {

    vertical-align: middle;
    padding-top:8px;
    padding-left:6px;
    padding-right:6px;
    font-size: 12px;
    padding-bottom:2px;
    border: 1px solid rgb(229, 230, 232);

  }
.row-under-container .col-md-1 {
width: 19.333333%;
  margin-top: 8px;
}
.row-under-container  .col-md-2 {
    width: 13.666667%;
   font-size: 15px;
   padding-left: 2px;
   
}
.hr_border {
border-top: 2px dotted #818181;
margin-top: 0px;

}

.caption {
  padding: 7px;
}

.price {
font-size: 22px;
/* font-family: fantasy; */
font-weight: 400;
color: #616060;
line-height: 9px;
}

 .catagory-checks {
    border-radius: 2px; 
  }
  
.thumbnail-catagories {

    height: 100%;
    overflow-y: scroll;  
    background-color:#fafafa;
    margin-top: 16px;
  }
.thumbnail  hr {
margin-top: 0px;
margin-bottom: 0px;
padding: 4px;
border: 0;
border-radius: 2px;
border-top: 1px solid #eee;
font-family: font-family: 'Open Sans', sans-serif;
}
.thumbnail {
border-radius: 2px;
border: 1px solid #ededed;
}
.seller_name {
padding-left: 9px;
}

 .seller_name b {
color:#AFB2BA;
padding-left: 1px;
}
 .rating_class {
padding-right: 9px;
}

 .rating_class i {
padding-left: 3px;
color: #1f72ad;
font-size: 15px;
}

.img-thumbnail { border-radius: 2px;}
.img-thumbnail {border:none;};

.buy_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
float: right;
}

.apply_btn .btn-primary {
color: #fff;
background-color: #3E3F3F;
border-color: #535658;
border-radius: 2px;
padding: 1px 10px 1px 10px;
}

 .buy_btn .btn {
padding: 3px 9px;
/* height: auto; */
/* width: 73px; */
}

.custom_product_images .col-md-3 {
/*width: 18%;*/
}
.span_buy_it_now p{
margin-top: -10px;
margin-left: 3px;
font-size: 11px;
font-family: font-family: 'Open Sans', sans-serif;
}
 .span_buy_it_now p a {
  text-decoration: none;
}

.thumbnail .caption h4 {
  margin-top: 0px;
}

.thumbnail .caption {
  padding: 2px;
}
.row-heading {
margin-top: -5px;
}
.element_count {

}
.col-md-images {
    /**
padding-right: 10px;
padding-left: 0px;**/
padding-right: 2;

}
 .rating {
  color: #828282;
 }

.rating_star{
  color: #2676af;
}

.container-seller-details {
      /*border: 1px solid rgb(228, 215, 215);*/

      padding-top: 10px;
      margin-bottom: 10px;
  }
  .row-details {

  }
  .media-heading {
    font-weight: 600;
    padding-bottom: 5px;
    color: #5F5757;
  }
  .jobtitle {
    font-weight: 600;
    font-size: 14px;
    color: #5F5757;
  }
  .companyname {
    font-weight: 600;
    font-size: 14px;
    color: #5F5757;
  }

  .located {
    font-family: 10px;
    color: #898989;
  }
  .location {
    color:black;
    padding: 7px;
  }
  .country {
     color: #898989;
     padding-left: 7px;
  }
  .country i {
     color: #898989;
     padding-left: 0px;
       padding-right: 3px;
  }
  .rating_chat .rating {
    color:#226da0;
    font-size: 18px;
  }

.rating_chat .btn-rate  {
background-color: #C0C0C0;
border-radius: 2px;
color: white;

    text-transform: uppercase;
    font-weight: 600;
  }

.rating_chat .btn-start-chat  {
    background-color: #428bca;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }

  .rating_chat .btn-start-chat i {
    padding-right: 8px;
  }

   .rating_chat .btn-rate i {
    padding-right: 8px;
  }


.btn-default {
/** border: none; */
}
.glyphicon-search{
  color:#d6d6d6 !important;
}

.btn-start-chat i {
    padding:2px;
}

 
.buttons .btn {
background-color: #2676af;
border-color: #2676af;
color: white;
text-transform: uppercase;
font-weight: 500;
border-radius: 2px;
}

.buttons .btn1 {
background-color: #A32814;
border-color: #A32814;
color: white;
text-transform: uppercase;
font-weight: 500;
border-radius: 2px;
}
.buttons .btn2 {
background-color: #609723;
border-color: #609723;
color: white;
text-transform: uppercase;
font-weight: 500;
border-radius: 2px;
}

.buttons i {
  padding-right: 4px;
}

.buttons .btn-chat-status  {
    background-color: #FDFDFD;
    border-radius: 2px;
    color: rgb(105, 100, 100);
    text-transform: capitalize;
    font-weight: 500;
        border:1px solid rgb(226, 223, 223);;
  }

.buttons .btn-chat-status i {
    padding-right:8px;

}
.memeber_month {
padding-top: 4px;
}

.memeber {
  color: #989898;
}
.month{
 color: #4D4949;
}

.buttons .btn-chat-status {
  margin-top: 35%;
}
.bodys{
  padding-left: 18px;
}

.row-details {
  border: 1px solid rgb(214, 214, 216);
  padding: 11px;
}

/**seller page css end **/

/* fix css @nati */
.read-more-blue{
  background:url('../images/down-arrow-blue.png') right 4px  no-repeat ;
  padding-right:12px;
  border-bottom:#428BCA 1px solid;
}
.read-more-blue:hover{
  text-decoration:none;
}

.buttons .btn-gray{
  background:#393939;
  border-color:#111111;
}
.buttons .btn-gray:hover{
  background:#111111;
}
.msg-icon, .block-icon,.chat-icon{
  width:20px;
  height:18px;
  float:left;
}
.msg-icon{
  background:url('../images/msg-icon.png') -4px -2px no-repeat;
}
.block-icon{
  background:url('../images/block-icon.png') -4px -2px no-repeat;
}
.chat-icon{
  background:url('../images/chat-icon.png') -4px 0px no-repeat;
}
.container-seller-details .row-details .buttons{
  position:relative;
  text-align:right;
  /*padding-bottom:120px;*/
}
.profile-user-bottom-btns{
  /*position:absolute;
  bottom:0px;
  right:15px;*/
  margin-top:70px;
  float:right;
}
.profile-user-top-btns{
  height:55px;
}
.user-online-notice{
  background:none;
  border:1px solid #eee;
  padding:7px 10px;
  padding-left:20px;
  background:url('../images/online-icon.png') 0px 4px no-repeat;
}

.img-thumbnail{
  border:none;
}
.thumbnail .price{
  font-size:23px;
}
.thumbnail .buy-text{
  padding-left:20px;
  color:#2077b4;
}
.item-lisiting-inner{
  position:relative;
  border:1px solid #ececec;
}
.item-lisiting-inner .item-caption-stat{
  position:absolute;
  top:15px;
  left:10px;
  padding:5px 10px;
  color:#fff;
  font-weight:bold;
}
.on-sale{
  background:#87a801;
}
.item-new{
  background:#151515;
}
.item-featured{
  background:#2870a0;
}
.product-lisiting-pages .col-md-3{
  padding-left:0px;
  margin-bottom:15px;
}
.send-chat-request:hover{
  text-decoration:none;
}
a.margin-btm{
  margin-bottom:7px;
}
.row-under-container .rating_col{
  margin-top:0px;
  /*max-width:190px;*/
}

.row-under-container .rating_col .rating-xs{
  font-size:2em;
}
.row-under-container .rating_col.star-rating .rating-container .rating-stars{
  padding-top:5px;
}
.item-lisiting-inner .text_content{
  padding:2px 7px;
}
@media(max-width:768px){
  .row-under-container .rating_col{width:100% !important;}
  .profile-user-top-btns{ margin-top:10px; height:auto;}
  .profile-user-bottom-btns{margin-top:10px;}
  .detail_info .media-body{display:block}
}