.store-edit-buttons,a {
    text-decoration: none;
}

.delete-store-btn {
        float: right;
        background-color:#616060;
        color: white;
        border-radius: 0px;
        margin:  6px 0 0 -1px;
    }
.edit-store-btn {
        border-radius: 0px;
        margin: 6px 0 0 -1px;
        text-decoration: none;
        float: left;
        background-color: #336699;
        color: white;
    }

/* rating star begin */
.star-rating.rating-xs.rating-active {
    font-size: 1.2em;
}
/* rating star end */

    .get-paid-container{
        width: 600px;
    }
    .container-listing{
        background-color: white;
        width: 850px;;
    }
    .dashboard-seller{
        width:35%;
    }
    
    .sell_info{
        width:2%;
    }

    .dashboard-product{
        width:30%;
    }

    .money {
        width: 55%;
        font-weight: 200;
        font-size: 10px;
    }
    .save_btn{

        float: right;
    }
    .sell_info{
        width: 50%;
    }


    .need_help{
        width: 34%;
    }

    .media-left{
        width: 2px;
    }
    .imag-panel{
        color: white;
        height: 24px;
        background-color: black;
    }
  
    .productsrow {
        -moz-column-width: 18em;
        -webkit-column-width: 18em;
        -moz-column-gap: 1em;
        -webkit-column-gap: 1em;
    }
    .menu-category {
        display: inline-block;
        margin-bottom:  0.25rem;
        padding:  1rem;
        width:  54%;
    }
    .product-image {
        width: 100%;

    }
    #price_tag_label {
        /* width: 50px; */
        float: left;
        font-size: smaller;
        padding-top: 10px;
    }
    /*img {
        vertical-align: middle;
        width: 80px;
    }*/
    .number{
        padding-left: 20px;
    }
    .sell_info .btn .buybtn {
        margin-top: 10px;
        width: 34px;
    }
    .menu-category-name{
        background-color: black;
        width: 225px;

    }
    #price_tag_label{
        width: 450px;
        float: left;
    }
    label{
        max-width:70%;
    }
    .money{
        font-size: xx-small;
    }
    .product {
        padding-top:22px;
        color: white;
    }
    .checkbox{
        float: right;
    }
    
    .viewDetails {
        visibility: hidden;
    }
    .numberCircle {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        marging-left: 32px;
        width: 80px;
        padding: 8px;
        font-size: 32px;
        line-height: 1em;
        border: 4px solid #336699;
        position: relative;
        vertical-align:middle;
        margin-left: auto;
        margin-right: auto;
        top: 12px;



    }
    .image-holder{
        background: grey;
        width: 225px;
        height: 150px;

    }
    .numberCircle .height_fix {
        margin-top: 100%;


    }

    .numberCircle .content {
        position: absolute;
        left: 0;
        top: 50%;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: -15px; /* Note, this must be half the font size */
    }
.container-listing {
        background-color: white;
        width: 950px;
}





/*for tab panel text link*/
a,.tab {
    color: #808080;
    text-decoration: none;
}
/*style for  launch store on dashboard store view begin*/
.launch{
  margin-left: 40%;
    margin-left: 30%;
    padding-top: 3%;
}
/*style for  launch store on dashboard store view end*/


/*.product-title{
    visibility: hidden;
}*/
.add-product-row{
    position: relative;
    margin: -60px 0px 0px;
}

/*.tab_content_title{
    position: absolute;
    visibility: hidden;
}
*/
/*.store-name-title{
    position: absolute;
    margin: 18px 0px 120px 0px;
    color: #1c6aa0;
    font-size: 16px;

}*/
.panel:after{
    
    position: relative;
    margin: 62px;
    text-align: center;

background-color: #e3e3e3;
z-index: 1;
    border-radius: 0px;
}
.panel{
    background-color: #e3e3e3;
    border-radius: 0px;
    height: 25px;
}

.row-table-p{
background-color: #F5F5F5;

}
