.row-menu {
    border: 1px solid #EAE6E6;
}
.tab-menu a {
   /** margin: 0px 17px;*/
}
.tab-links{
    margin: 0px 33px !important;
}
.tab-dashboard-link{
    margin-left: 11px !important;
}
.fa {
    font-size:25px;
    font-color:#428bca;
}
.tab-menu-container {
    height: 42px;
}
.selected a
{
    padding-bottom: 10px;
}
.col-md-2 {
    width: 23.666667%;
}
.col-md-offset-1 {

    margin-left: 1.333333%;
}

.no-left-right-padding{
    padding-right: 0px;
    padding-left:0px;
}
.no-right-padding{
    padding-right: 0px;
}
.white-font{
    color:#ffffff;
}
.border-radius{

    border-radius:4px;
}
.large-font{
    font-size:35px;
}
.medium-font{
    font-size: 18px;
}
.less-medium-font{
    font-size: 14px;
}
.small-font{
    font-size:12px;
}
.light-blue-font{
    color:#98bcd7;
}
.light-red-font{
    color:#e38a87;
}
.light-yellow-font{
    color:#f2d298;
}
.light-green-font{
    color:#b4dec3;
}
.no-margin{
    margin:0 0 0 0px !important;
}
.word-wrap{
    word-wrap: break-word;
}