.top{
	background:#252525;
	padding:5px 0;
	color:#717171;
	font-size:11pt;
}
.top a{
	color:#fff;
}
a.gray, .gray{
	color:#717171;
}
a.blue, .blue{
	color:#2a78ac;
}
a.white, .white{
	color:#fff;
}
a.red, .red{
	color:#ee2b38;
}
.cart{
	color:#545454;
	width:150px;
	padding-top:30px;
}
.cart-notification-wrap{
	position:relative; width:10px;
}
.cart-notification{
	position:absolute;
	background:#226da0;
	border-radius:3px;
	padding:2px 4px; color:#fff; top:-17px; right:-3px;
}
.logo-wrap{
	text-align:center; width:70%;
}
.navbar-default{
	background:#fff; border:none;
}
.navbar {
    margin-bottom: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #2082c6;
    background-color: #fff;
}
.acc-dropdown{
	background:#2d2d2d;
}
.acc-dropdown > li > a {
    color: #fff;
}
.acc-dropdown > li > a:hover {
	background:#226da0; color: #fff;
}
#acc-dropdownMenu1:hover{
		cursor:pointer;
}
i.my-acc:after{
 content: url("../img/profile.png");
 margin-right:15px;
 float:left;
}
i.my-edit-pro:after{
 content: url("../img/setting.png");
 margin-right:15px;
 float:left;
}
i.my-logout:after{
 content: url("../img/logout.png");
 margin-right:15px;
 float:left;
}
.line-above-nav{ 
	margin-bottom:5px;
}
.dot{
	background:url('../img/dot.png') repeat-x;
	height:5px;
	margin-bottom:15px;
}
.main-row{
	background:url('../img/main-bg.jpg') repeat;
	padding-bottom:50px;
}
.sidebar-menu{
	text-align:center;
	height: 450px;
	overflow-y: scroll;
}
.sidebar-menu a{text-decoration:none; font-weight:bold; }
.sidebar-menu .mnu-item{
	border:1px solid #ccc;
	background:#fff;margin-bottom:15px;
}
.sidebar-menu .mnu-item:hover{
	background:#fafafa;
}
.sidebar-menu .side-active, .sidebar-menu .side-active:hover{
	background:#3378a7;
}
.panel-default > .panel-heading-blck{
    color: #fff;
    background-color: #404040;
    border-color: #DDD;
	font-weight:bold;
	font-size:15px;
}
.table-stext{
	font-size:12px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 0px solid #DDD;
	padding-top:10px;padding-bottom:10px;
}
.table > thead > tr {
	background:#404040; color:#fff; 
}
.order-tbl{background:#fff;}
.btn-green{
	background:#38ba6c; color:#fff; padding:5px 10px; border-radius:3px;
}
.table > tbody > tr > th{padding-top: 12px;}
.right-sidebar{
	padding:0;
}
.payment-options{
	text-align:center;
}
.main-footer{
	background:#252525;
	padding-top:5px;padding-bottom:5px;
}
.main-footer a{
	color:#fff; text-decoration:none;
}
.subscribe-form .email-inpt{
	padding:6px;
	border:#999999 solid 1px;
	margin-bottom:5px;
}
.subscribe-form  .sub-btn{
	padding:5px; border:none; background:none;
	border:#3498db solid 3px;
	width:100%; border-radius:3px;
}

/* order page */
.order-main{
	padding-top:30px;
}
.input-group-date-picker{
    background-color: #fff;
    border-left:none;
}
.input-group-date-picker img{
	width:100%;
}
.search-form{
	background:#e6e6e6;
	padding:10px;
	border-radius:3px;
}
@media(min-width:992px){
	.search-form input,.search-form select{		margin-right:15px;	}
	.search-form button{ margin-left:15px;	}
}
.purchase-main .search-form{
	margin-bottom:15px;
}

/* cart page */
.main-cart{
	padding-top:30px;
}
.cart-status{
	border-top:4px solid #2a78ac;
	padding:5px 15px;
	background:#fdfdfd;
	margin-bottom:30px;
	border-bottom:#e5e5e5 solid 1px;
}
.btn-black {
    color: #FFF;
    background-color: #252525;
    border-color: #252525;
}
.btn-black:hover, .btn-black:focus{
	color:#efefef;
}
.cart-main-wrap{
	border:#e5e5e5 solid 1px;
	background:#fdfdfd;
	padding-bottom:30px;
}
.cart-item{
	margin:10px 0;
	padding-bottom:10px;
	
}
.item-avatar{
	width:160px; height:160px;
	margin-right:10px;
}
.item-title{
	font-size:20px;
}
.cart-right-sidebar{
	padding-top: 10px;
	padding-bottom: 10px;
	background:#f7f9fa;
	font-weight:bold;
}
.cart-right-sidebar button{
	width:100%;
}

   float: right;
        background-color:#616060;
        color: white;
        border-radius: 0px;
        text-decoration: none;
        margin:  6px 0 0 -1px;
    }
    .edit-store-image{
    border-radius: 0px;
        margin: 6px 0 0 -1px;
        text-decoration: none;
        float: left;
        background-color: #336699;
        color: white;
    }