	.main-nav nav{
		background-color: white;
	}
.star-rating.rating-xs.rating-active {
    font-size: 1.2em;
}
	.delete-image{
		float: right;

		background-color: #336699;
		width: 60%;
		color: white;
		text-align: center;
		    font-weight: 800;

	}
	.edit-image{
		float: left;
		text-align: center;
		background-color: black;

		width: 30%;
		color: white;
	}
	.delete-image span{
		position: absolute;
		visibility: hidden;
	}
	.delete-image:after {
		content: "Set as auction";
		visibility: visible;
		font-weight: 800;
	}

																																		  span {
	
	p.cutsom_button { display : inline; }
	
	/* product listing */
	.xpens {
    
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
  }
 
.thumbnail .caption h4 {
  margin-top: 0px;
  font-size: larger;
  overflow: hidden;
}

.thumbnail .caption {
  padding: 2px;
}
 .rating_class {
  float: right;
}
.rating-xs {
  font-size: 1.6em;
}

.rating-gly-star {
  font-family: 'Glyphicons Halflings';
  padding-left: 2px;
  font-size: smaller;
  }

.star-rating .caption, .star-rating-rtl .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 80%;
 
}