    .container-content {
         padding-bottom: 40px;
   
    }
    .add-border {
        border:1px solid #e6e6e6;
        border-radius: 4px;
        padding: 8px;
    }

    .col-md-background-image {
        background-image: url('../../assets/images/users/editprofile.png');
        background-attachment: content;
        background-size: 100%;
        background-clip: body;
        background-repeat: no-repeat;
        min-height:250px;
        overflow: hidden;
    
    }
    .form-group-firstname {
        padding: 0;
    }
    .you-instantly {
        text-align: justify;
        padding:2px; 
        border-bottom: 2px solid grey;
        border-top: 2px solid grey;
        margin-bottom: 10px;"
    }

     .edit-profile .form-control {
        background-color:#E4E7EA;;
     }

        .get_noticed {
        padding-top: 15px;
        color: #226da0;
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 2px dotted #226da0;
        width: 70%;
        padding-bottom: 10px;
    }
   .get_noticed_message
   {
        color: #747474;
        text-align: justify;
        border-bottom: 2px dotted #226da0;
        width: 70%;
        padding-bottom: 10px;
        line-height: 25px;
   }
   .get_noticed_message_small {
     color: #a0a0a0;
    width: 70%;
    text-align: justify;
   }

.fileUpload {
    position: relative;
    overflow: hidden;
}
#uploadFile {
    margin-left: 20px;
    margin-top: -50px;
}
.fileUpload{
margin-top: -1px;
margin-left: 4px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload .btn .btn-primary{
color: #fff;
background-color: #060B0F;
border-color: #0F0F0F;
font-weight: 400;

}
.fileUpload {
    margin-left: 10px;
}
.form-inline hr {
margin-bottom: 4px;
margin-top: 7px;
}

element.style {
}
.fileUpload {
margin-left: 10px;
}
.fileUpload {
margin-top: -1px;
margin-left: 4px;
}
.fileUpload {
position: relative;
overflow: hidden;
background-color: #898989;

}



/****edit profile below section***/

.hr_below_heading {
    margin-top: -7px;
    margin-bottom: 14px;
    border: 0;
    border-top: 1px solid #eee;
}
.heading_color{
    color: #226da0;
    font-weight: 600;
}
.profile_info_text {
    color:#404040;
    font-weight: 600;

}
.form-group-edit {
    margin-top: -14px;
    margin-bottom: 5px;
}
