
body {
    background-color: #fafafa;
    overflow-x: hidden;
}
.row1 {
         background-color: #ffffff;
         margin: 0px;
       
         border-bottom: 1px solid #d9d9d9;

         line-height: 2.428571;
 }

.col-md-offset-1-1 {
    margin-left: 7.333333%;
}
 
.search_box .input-group .form-control input {
        height: 20px;     
}
.btn {
     padding: 4px 12px;
}
.form-control {
   /* margin-top: 4px;
    max-height: 30px;*/
    display: inline;
    line-height: 14px;
    vertical-align: middle;
}

.select_box {
    position:  relative;
}
.header_element {
    display:inline;
}
.right_elements {
    display:inline;
    margin-left: 18%;
}

.row2 {
    vertical-align: middle;
    margin-top: 10px;
}
.row2 {
    margin-right: 0px;
    margin-left: 0px;
}
.row4 h3 {
     border-bottom: 1px solid #fafafa;
     margin-top:2%;
}
.row4 hr {
margin-top: 0px;
margin-bottom:2%;
}

.row5 .col-md-4 {
    width: 31%;
}
.row5 .col-md-offset-1 {
    margin-left: 3.3333%
}

.navbar-home .navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
}
.navbar-home .navbar {
    height:37px;
    margin-bottom: 20px;
   margin-top: 20px;
}
.active {
    height: 40px;
}
.navbar-home .navbar-nav li{
     margin-top: -5px;
    vertical-align:middle; 
}
.row3-background {
    background-image: url('../../assets/images/home_large_image.jpg');
    /*max-height: 455px;*/
    /*width: 100%;*/
    height: 500px;
    background-attachment: content;
    background-size: 100%;
    background-clip: body;
    background-repeat: no-repeat;
    overflow: hidden;
}

.search-box .input-group {
    vertical-align: middle;
    margin-top: 4px;
}

 .col-left-border {
  border-right: 1px solid #d9d9d9;
}

 .col-md-11 {
   width: 3.333%;
}

.module_images_upload {
   background-color: #2770a2;
   color: #ffffff;
   height:236px; 
   text-align: center;
    
}
.module_images_upload p {
    padding-top:4%;
    border-top: 2px dotted #E3E5E8;
    border-color: #E3E5E8;
    padding-bottom:4%;
}

.module_border_style h4 {
    margin-top: 12%;
    text-transform: uppercase;
    padding-bottom: 4%;
}
.module_border_style {
border-top: 6px solid grey;
/*
border-left: 1px solid #e2e2e2;
border-right: 1px solid #e2e2e2;
border-bottom: 1px solid #e2e2e2;
*/
}

.module_images_newarrival {
     background-image: url('../../assets/images/home_new_arrival_image1.jpg');
    /*max-height: 455px;*/
    /*width: 100%;*/
    height: auto;
    background-attachment: content;
    background-size: 100%;
    background-clip: body;
    background-repeat: no-repeat;
    text-align: center;
    height:236px;

}
.module_images_newarrival .btn {
    margin-top: 48%;
}
.module_images_meet_people {
     background-image: url('../../assets/images/home_people_image1.jpg');
    /*max-height: 455px;*/
    /*width: 100%;*/
    text-align: center;
    background-attachment: content;
    background-size: 100%;
    background-clip: body;
    background-repeat: no-repeat;
    height: 236px;
}

.module_images_meet_people h4 {
    margin-top: 12%;
    text-transform: uppercase;
    padding-bottom: 4%;
}

.pull-right {
    margin-right: -1px;
}
.content-bottom {
padding-top:4%;
text-align:center;padding-bottom:8%; 
}
.content-bottom h2 {

}
.content-bottom span {
    color:#6a9fd2;
}
@media(max-width:450px){
.row3-background {height: 180px; }
.row .row4 h3{ font-size: 16px;  }
.row5 .col-md-4 {width: 100%;}
.content-bottom {padding-top:1%;text-align:center;padding-bottom:1%;}
.module_images_upload{z-index:-1;}
.module_images_newarrival{z-index:-1;}
/**footer_menu {padding-right: }**/

}

.browse-btn {  margin: 22%;   background:  cover;}

/**product_liting_end***/

.buy_btn {float: right;}
.price { padding-top: 5%;margin-left: 3%;font-size: 17px;font-weight: 600;}
.caption p {
    padding: 1%;
    margin-top:5%;
    font-size:15px;

}
.product_name_heading {
        font-size:15px;
        display: inline-block;

}
.product_description{}

/**product_liting_end***/

.navbar-home .navbar  {  width: 100%;}

.navbar-home .navbar-nav {
  width: 100%;
}
.navbar-home .navbar-nav li {
padding-left: 1%;
}

.seller_name {
    margin-left: 4%;
}
.rating_class {
    float: right;
    margin-right: 15px;
}

.footer_menufooter_menu a {

    display: block;
    width: 60px;
}
    .footer_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer_menu li {
    display: inline;
    position: relative;
    padding-right: 3%;
    font-weight: 400;
}
.footer_menu li a {
   text-decoration: none;
   color: #ffffff;
   font-size: 12px;
}

@media(max-width:764px){
    .row5 .col-md-4 {width: 100%;}
    .content-bottom {padding-top:1%;text-align:center;padding-bottom:1%;}
    .module_images_newarrival{height: auto;padding-bottom: 25px;}
    .module_images_upload {height: auto;text-align: center;padding-bottom: 22px;}
    .row5 .col-md-offset-1 { margin-left: 0%; }
    .span1{padding:0 4px;}
    .navbar-nav li{margin-top: 0px;  background-color: #fafafa;}
    .form-control {width: 100%;}
    .col-md-offset-1-1{margin-left: 0px;}
    .col-md-11 {width: auto;}
    .right_elements {margin-left: 0px;}
    .col-left-border {border:none;border-bottom: 1px solid #d9d9d9;}
     .row3-background {height: 180px; }
     .row .row4 h3{ font-size: 17px;  }
     .module_images_upload{z-index:-1;}
    .module_images_newarrival{z-index:-1;}
    .footer_menu {padding-right: 0;}
    }

   @media(max-width:380px){

     .row3-background {height: 102px; }
   .span1{padding:0 4px;}
   .col-md-11 {width: auto;}
    .form-control{display: block;}
   .navbar-nav li{margin-top: 0px;  background-color: #fafafa;}
    .form-control {width: 100%;}
    .col-md-offset-1-1{margin-left: 0px;}
    .right_elements {margin-left: 0px;}
    .col-left-border {border:none;border-bottom: 1px solid #d9d9d9;}
     .row3-background {height: 102px; }
     .module_images_upload{z-index:-1;}
   .module_images_newarrival{z-index:-1;}
   .footer_menu {padding-right: 0;}

   }

