
.main-navigation {
    background-color: #ffffff;
}
div.row.row-1.main-nav {
  max-height:40px;
}
.row-1 .navbar {
    min-height:40px;
    border-radius:0px;
    width:100%;   

}
.row-1 .navbar-default .navbar-nav>li>a {
color: #000000;
padding-right: 0px;
}
.row-1 {
    background-color: #black;
}
.row-1 .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #a1a1a1;
}
.row-1 .navbar-nav {

  margin-left: -16px;
}
.navbar {
    min-height:40px;
    border-radius:0px;

}

.navbar-default .navbar-nav>li>a {
color: #000000;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {

color: #a1a1a1;

}
