/**insalve us but nothing can save us ICECUBE **/

.rating_left ,.star-rating .caption, .star-rating-rtl .caption {
   color: #999;
   display: inline-block;
   vertical-align: middle; 
   font-size: 80%;
} 

h4, .h4 {
  font-size: 18px;

  padding-top: 14px;
}
  
.xpens {
    
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
  }
 
.hr_border {
border-top: 2px dotted #818181;

}
.left-menu{
border: 1px solid #e5e5e5;
border-radius: 3px;
background-color: white;
padding: 12px;
margin-bottom: 7%;
margin-left: -27px;
}
.left-choice-1 {
border: 1px solid #e5e5e5;
border-radius: 2px;
background-color: #f7f7f7;
margin-bottom: 2%;
height: 135px;
width: 140px;
background: url(../assets/images/payment/my_dadboard.png);
background-repeat: no-repeat;
}

.left-choice-2 {
border: 1px solid #e5e5e5;
border-radius: 2px;
background-color: #f7f7f7;
margin-bottom: 2%;
height: 135px;
width: 140px;
background: url(../assets/images/payment/my_orders.png);
background-repeat: no-repeat;
}

.left-choice-3 {
border: 1px solid #e5e5e5;
border-radius: 2px;
background-color: #f7f7f7;
margin-bottom: 2%;
height: 135px;
width: 140px;
background: url(../assets/images/payment/my_pursche.png);
background-repeat: no-repeat;
}

.left-choice {
border: 1px solid #e5e5e5;
border-radius: 2px;
background-color: #ffffff;
margin-bottom: 2%;
/*width: 14.667%;*/
}
.table_containers
{

background-color: white;
padding: 10px;
border: 1px solid #e6e6e6;
}
.nav-pills a {
    color: #85888A;
    text-decoration: none;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #423E3E;
}
.media-object {

  width: 111px;
  height: 103px;
  float: leftpadding:5;
  float: left;
  padding: 8px;
}
.full_name {
    padding-top: 20px;
    font-weight: 800;
    float: left;
    text-align: left;
}
.message_content {
  padding-top: 20px;
  font-weight: 800;
}
.state {
  font-weight: 400;
}
.subject {
  font-weight: 600;
}
.messages {
  font-weight: 200;
}
.logged_in_status {
font-weight: 100px;
}
.date_column {
   padding-top: 20px;
  font-weight: 200;
}
.column_border {
  border-right: 1px dotted rgb(231, 226, 226) ;
}
.model-dialog-sellers 
{ width: 362px;
  }
.model-dialog-sellers .form-control, .model-dialog-sellers .form-group .form-control ,.input-group {
        width: 100%;
}

/*** seller page ***/
 .tab-menu {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;

} 

.tab-menu a {
color:  #5F5757;
font-size: 16px;

margin: 0 40px auto;
line-height: 2;

text-decoration: none;
white-space: nowrap;
}

.tab-menu a.selected {
 border-bottom: 6px solid #0878b9;
    /* border-bottom: 6px solid #4db3e3; */
    padding-bottom: 11px;
}


.price {
 padding-left: 6px;       
}
.rating_class {
  float: right;

}
.rating-xs {
font-size: 1.4em;
}

.rating-gly-star {
  font-family: 'Glyphicons Halflings';
  padding-left: 2px;
  font-size: smaller;
}

.star-rating .caption, .star-rating-rtl .caption {
  color: #999;
  display: inline-block;
  vertical-align: middle;
  font-size: 80%;
}

.glyphicon-user {
margin-top: 7px;
}