@charset "utf-8";
/* CSS Document */
/* Shopcart Div and formatting */
.shopcart {

	width: 95%;
	margin: .2em auto;
	
}
.cc-billing {
	width: 70%;
	margin: .2em auto;
}
span.cartheading {
	
	font-weight:bold;
	font-size: 1.5em;

}
a.red, .red{
	color:#ee2b38;
}
/* cart page */
.main-cart{
	padding-top:30px;
}
.cart-status{
	border-top:4px solid #2a78ac;
	padding:5px 15px;
	background:#fdfdfd;
	margin-bottom:30px;
	border-bottom:#e5e5e5 solid 1px;
}
.btn-black {
    color: #FFF;
    background-color: #252525;
    border-color: #252525;
}
.btn-black:hover, .btn-black:focus{
	color:#efefef;
}
.cart-main-wrap{
	border:#e5e5e5 solid 1px;
	background:#fdfdfd;
	padding-bottom:30px;
}
.cart-item{
	margin:10px 0;
	padding-bottom:10px;
	
}
.item-avatar{
	width:100px; height:100px;
	margin-right:10px;
}
.item-title{
	font-size:20px;
}
.submit-btn {
	width:100%;
}
.cart-right-sidebar{
	padding-top: 10px;
	padding-bottom: 10px;
	background:#f7f9fa;
	font-weight:bold;
}
.cart-right-sidebar button{
	width:100%;
}
/* shipping address */
.ship-address-form{
	margin:50px auto;
	background:#ffffff;
	border:1px solid #e4e4e4;
	padding:30px;
	border-radius:3px;
	float:none;
	clear:both;
}
.submit-btn button{
	width:100%;
}
.checkout .pull-right img{
	margin-top:20px;
}
.ship-address-form .suggested-shipping{
	margin-right:50px;
}
.suggested-shipping-wrap{
margin-top:20px;
}
/*.ship-address-form .col-md-6, .ship-address-form .col-md-12, .ship-address-form .col-md-4, .ship-address-form .col-md-7, .ship-address-form .col-md-3, .ship-address-form .col-md-9{*/
	/*padding-left:0px;*/
/*}*/
.ship-address-form .expdate, .ship-address-form .expyr{
	width:48%;
	float:left;
	margin-right:2%;
}
.scode{
	width:60%;
	float:left;
	margin-right:10px;
}
.cardnum{
	/* base url path on page being served from views folder */
	background:url('../../assets/images/cart_and_checkout/checkout/card.jpg') 3px 3px no-repeat;
	padding-left:40px;
}
.order-box{
	border:#ececec solid 1px;
	padding:20px;
	margin-bottom:15px;
}
.order-box button{
	width:100%;
	margin-bottom:20px;
}
.order-box table, .ship-method table{
	width:100%;
}
.ship-method {
	margin-bottom:20px;
}
.note-inp{
	max-width:100%;
	max-height:150px;
}
.review-leftside, .review-rightside{
	margin-top:20px;
}
.review-items img{
	width:105px;
	height:83px;
}
.review-items-img{
	border-radius:3px;
	padding:4px 0px;
	border:#ebebeb solid 2px;
	text-align:center;
}
.review-item{
	margin-bottom:15px;
}
.payment-mthd-img{
	margin-right:10px;
}
