
.center-header {

    text-align: center;
}
.store-setup-col {
    padding-bottom: 2%;
}
.store-setup-col h3 {
    margin-bottom: -11px;
}
.store-setup-col hr {
    border-top: 1px solid rgb(222, 223, 231);
    margin-bottom: 12px;
}
.store-setup-col p {
    margin-bottom: 10px;
}
.row-storesetup {
    background-color: white;
    margin-bottom: 10%;
    margin-top: 1%;
    /* border: 1px solid #F2F6F9;*/

border: 1px solid #EDEAEA;
}
.divsetup-content h3 {
    margin-top: 5px;
}
.divsetup-content hr {
    margin-top: 10px;
}
.tabpane-storesetup .nav-pills>li>a {
    border-radius: 3px;
}
.tabpane-storesetup .nav>li>a {
    background-color: #e3e3e3;
}
.tabpane-storesetup .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #1c6aa0;
    font-weight: 700;
}
.tabpane-storesetup .nav>li>a {
    width: 183px;
}
.col-md-store-content {
    margin-top: 25px;
    margin-bottom: 15px;
}
.row-table-p {
    background-color: #f3f3f3;
    padding-left: 0;
    padding-right: 0;
    border: 4px solid #80b1cd;
    ;
    border-radius: 2px;
}
.required_star {
    color: red;
    padding-right: 6px;
}
.col-md-select {
    padding-left: 0;
}
.btn_on_tabs {
    margin-top: 80px;
    margin-bottom: 20px;
}
.tab_content_title {
    margin-left: -26px;
    color: #106098;
    font-size: small;
    font-weight: bold;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
#uploadFile {
    margin-left: 20px;
    margin-top: -50px;
}
.fileUpload {
    margin-top: -1px;
    margin-left: 4px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.fileUpload .btn .btn-primary {
    color: #fff;
    background-color: #060B0F;
    border-color: #0F0F0F;
    font-weight: 400;
}
.fileUpload {
    margin-left: 10px;
}
.form-inline hr {
    margin-bottom: 4px;
    margin-top: 7px;
}
.fileUpload {
    margin-left: 10px;
}
.fileUpload {
    margin-top: -1px;
    margin-left: 4px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload {
    margin-top: 14px;
    float: left;
    margin-bottom: 5px;
}
.tab_content_p {
    font-size: 12px;
    margin-left: -25px;
}
.column_margin {
    margin-top: 2%;
}
.heading {
    padding: 5px;
    color:#0b69a0;
}
.hr_store_form {
    margin-top: 5px;
    border-top: 1px solid rgb(228, 223, 223);
    width: 85%;
}
.popover {
    background-color: rgb(69, 69, 69);
    width: 120px;
    height: 85px;
}
.popover-title {
    background-color: rgb(69, 69, 69);
    color: white;
}
.col-price {
    margin-left: -28px;
    padding-bottom: 10px;
}
/**get paid noticed ***/

.getpaid_notice {
    color: #5585ad;
    text-align: justify center;
    font-weight: 600;
    line-height: 1px;
}
.intro_table_text {
    font-size: 13px;
    color: #8d8d8d;
    padding-top: 4px;
    font-size: 13px;
    margin-left: -26px;
}
.btn_on_tabs {
    margin-top: 80px;
    margin-bottom: 20px;
}
.tab_content_title {
    margin-left: -26px;
    color: #106098;
    font-size: medium;
}
/**previwe store **/

.btn_on_tabs {
    margin-top: 80px;
    margin-bottom: 20px;
}
.col-md-store-content {
    margin-top: 25px;
    margin-bottom: 15px;
}
.tab_content_title {
    margin-left: -26px;
    color: #106098;
    font-size: medium;
}
.borders {
    border-radius: 3px;
    border: 1px solid #E8E8E8;;
    padding-bottom: 12px;
}
.social_component {
    font-weight: 600;
    color: #2f2f2f;
    margin-bottom: 30px;
}
.social_component p {
    font-size: 16px;
    color: #b3b3b3;
    border-bottom: 2px solid #217dbf;
}
.social_component .number {
    font-weight: 500;
    font-size: 20px;
}
.btn_buy {
    color: #fff;
    background-color: #484848;
    border-color: #484848;
    font-weight: 600;
}
.rating i {
    color: #f0bb03;
    font-size: 20px;
}
.row-table-p {
   background: transparent;
    padding-left: 0;
    padding-right: 0;
}
.required_star {
    color: red;
    padding-right: 6px;
}
.col-md-select {
    padding-left: 0;
}
.btn_on_tabs {
    margin-top: 80px;
    margin-bottom: 20px;
}
.col-md-store-content {
    margin-top: 25px;
    margin-bottom: 15px;
}
.tab_content_title {
    margin-left: -26px;
    color: #0b69a0;;
    font-size: medium;
}
.three-columns-preview {
    padding-bottom: 14px;
    margin-top: 12px
}